<%= @game.player_1.name %> vs. <%= @game.player_2.name %><br></br>

<%= @game.player_1.name %>: 60HP
<%= @game.player_2.name %>: 60HP

<form action="/attack">
  <input type="submit" value="<%= @game.player_1.name %>: use Attack!">
</form>
